---
const today = new Date();
---

<footer
  role="contentinfo"
  class="p-8 text-center text-stone-600 dark:text-stone-400"
>
  &copy; {today.getFullYear()} arvind0598.
  <br class="md:hidden" />
  <a
    href="https://github.com/cassidoo/blahg"
    class="underline underline-offset-4"
    aria-label="This website is inspired by cassidoo's blog (opens in new tab)"
    target="_blank"
  >
    This website is inspired by cassidoo!
  </a>
</footer>
