---
type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  href: string;
  class?: string;
};

const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class={`underline underline-offset-4 motion-safe:transition-all motion-safe:duration-100  focus:outline-2 focus:outline-blue-500 focus:outline-offset-2 ${className}`}
  {...props}
>
  <slot />
</a>
