section.hero.is-light.is-fullheight-with-navbar#about-section
  .hero-body
    .container.columns.is-vcentered
      .column.is-one-third.use-poppins
        h2.is-size-3 About Me
        p.has-text-justified(style='white-space: pre-line')
        | I'm a 21 year old student at Manipal Institute of Technology, pursuing a Bachelors degree in Computers and Communication Engg.<br><br>
        | I'm primarily a front-end web developer, although I have made a considerable number of full stack projects.<br><br>
        | My main ability is to quickly pick up and use somthing new, which has enabled me to also dabble with multiple frameworks for web development, work with Kubernetes, develop for Android and dip my feet into machine learning. 
      .column
      .column.is-one-third
        figure.image.is-256x256.is-centered-below-sm(data-aos='flip-left', data-aos-duration='900')
          img.is-rounded.has-border(src='./assets/profile.jpg')
    .placeholder-background.is-primary.is-on-right