section#education-section.hero.is-light.is-fullheight-with-navbar
  .hero-body
    .container.columns
      .column.is-three-quarters.use-poppins
        .tile.is-ancestor
          .tile.is-8.is-vertical.is-parent(data-aos='flip-up', data-aos-duration='900', data-aos-id='animate-gpa-chart')
            #mit-card.tile.is-child.box
              p.title.has-text-black Bachelor of Technology, Computer and Communication Engineering
              p.subtitle.has-text-grey.is-italic Manipal Institute Of Technology, Manipal (2016 - 2020)
              canvas#gpa-chart(aria-label='GPA Chart', role='img')
              p Current CGPA: 8.53 / 10
              p Pursuing a Minor in Big Data, certified by UC San Diego (Coursera).
              //- p Currently the General Secretary & Academic Head for Teach Code for Good, a non-profit established to teach underprivileged kids the basics of computers and programming. <br/><br/>
              //- p Served as System Admin & Web Development Category Head for both the fests of the college. Redesigned most portals and introduced several others to improve automation and accountability.
          .tile.is-vertical.is-parent
            .tile.is-child.box(data-aos='flip-right', data-aos-duration='600', data-aos-delay='50')
              p.title.has-text-black CBSE, Grade 12 (2016)
              p.subtitle.has-text-grey.is-italic Delhi Public School, Navi Mumbai
              p Scored 90.6% with 95 in Maths and Computer Science.
            .tile.is-child.box(data-aos='flip-right', data-aos-duration='600', data-aos-delay='100')
              p.title.has-text-black CBSE, Grade 10 (2014)
              p.subtitle.has-text-grey.is-italic Kendriya Vidyalaya, Mankhurd
              p Scored 10 CGPA with 93.6% overall.
      .column.is-one-quarter.has-text-white.has-text-primary-below-md.use-poppins.has-text-right(style='z-index:2')
        h2#education-title.is-size-3 Education
        p.is-size-5.has-text-weight-light.is-italic (So far)
    .placeholder-background.is-on-right.is-primary
