section.hero.is-primary.is-fullheight
  .hero-body
    .container.columns
      .column.is-one-quarter.has-text-black.use-poppins.has-text-white-below-md(style='z-index:2')
        h2.is-size-3 Experience
        p.is-size-5.has-text-weight-light.is-italic (Yes, All of it)
      #experience-columns.column.columns.is-three-quarters.is-vcentered
        include ../templates/experience-card
    .placeholder-background.is-light.is-on-left 
