section.hero.is-primary.is-fullheight#experience-section
  .hero-body
    .container.columns
      .column.is-one-quarter.has-text-black.use-poppins.has-text-white-below-md(style='z-index:2')
        h2.is-size-3 Experience
        p.is-size-5.has-text-weight-light.is-italic (My Internships)
      #experience-columns.column.columns.is-three-quarters.is-vcentered
        include ../mixins/experience-card
        - let expDelay = 0
        each exp in EXP_DATA
          +create-experience-card(exp)
          - expDelay += 150
    .placeholder-background.is-light.is-on-left 
