section.hero.is-primary.is-fullheight-with-navbar.is-unselectable#landing-section
  .hero-body
    .container
      h1.title.is-size-1.has-text-centered.use-poppins Arvind S
      hr.fade-sides
      p.subtitle.is-size-4.has-text-centered.use-poppins.has-text-weight-light Student, Developer
  .hero-foot
    .container
      nav.tabs.is-boxed.is-centered.use-poppins
        ul
          li
            a(href='https://linkedin.com/in/arvind0598') LinkedIn
          li
            a(href='https://github.com/arvind0598') GitHub
          li
            a(href='mailto:hello@arvindsuresh.in') Mail me