nav.navbar.is-fixed-top#navbar-main(role='navigation' aria-label='navigation').has-material-shadow-2
  .navbar-brand
    a.navbar-item(href='#')
      img(src='#' alt='Arvind')
    a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbar-menu-main')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  .navbar-menu#navbar-menu-main
    .navbar-end
      a.navbar-item(href='#about-section') About
      a.navbar-item(href='#experience-section') Experience
      a.navbar-item(href='#education-section') Education
      a.navbar-item(href='#skills-section') Skills
      