section.hero.is-primary.is-fullheight
  .hero-body
    .container.columns
      .column.is-one-quarter.has-text-black.use-poppins.has-text-white-below-md(style='z-index:2')
        h2.is-size-3 Skills
        p.is-size-5.has-text-weight-light.is-italic (I'd like to learn more)
      #skills-columns.column.columns.is-three-quarters.is-centered.is-multiline
        include ../templates/skills-card
    .placeholder-background.is-light.is-on-left 
    

