doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='arvind0598')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Arvind S
  body
    //- progress#main-progress-bar.progress(value=0.2 max=1.0).is-primary.is-small
    include sections/landing
    include sections/about
    include sections/experience
    include sections/education
    include sections/footer
    //- section.hero.is-primary.is-fullheight