doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='arvind0598')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css")
    link(rel="stylesheet" href="./styles/index.scss")
    title Arvind S
  body
    include sections/landing
    include sections/about
    include sections/experience
    include sections/education
    include sections/skills
    include sections/footer
    script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js')
    script(src='./app.js')
    